<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <ul>
                {% for category_id, author_book in result.items() %}

                    <li>{{ category_dict[category_id].name }}
                        <ul>
                            {% for author_id, books in author_book.items() %}
                                    <li>{{ authors_dict[author_id].name }}
                                        <ul>
                                            {% for book, html_description in books %}
                                                <li>{{ book.name }}
                                                    <div class="description_edit" data-markdown="{{ book.description }}"
                                                         data-id="{{ book.id }}">
                                                        {{ html_description | safe }}
                                                        <a href="javascript:void(0)">Изменить описание</a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                            {% endfor %}
                        </ul>
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6 col-xs-12">
            <form id="form" method="post">
                <textarea id="description" name="description">
                </textarea>
                <input type="hidden" name="book_id" id="book_id">
                <button id="button" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-1.12.4.min.js"
integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
var simplemde = new SimpleMDE({ element: $("#description")[0] });
$(".description_edit").click(function()
{
    simplemde.value($(this).data("markdown"));
    $("#book_id").val($(this).data("id"))
})
</script>
</body>
</html>